section.animals-list-container table {

  display: flex;
  flex-direction: column;
  
  width: fit-content;
  
  align-items: center;
  
  padding: .5em;
  gap: 1em;

  background-color: red;
  border: 1px solid black;
  border-collapse: collapse;
}

.animals-list-container td{
padding: 1em;
}