section.count-down-container {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  width: 200px;
  height: 100px;

  font-size: larger;
  font-weight: bold;

  background-color: rgb(139, 217, 205);
}

section.count-down-container *:not(:last-child)::after {
  content: ":";
}

section.count-down-container .danger {
  color: red;
}