section.mouse-monitor-container {
  position: fixed;
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: rgb(29, 29, 29);
  color: white;
  padding: 10px;
}
